/* ---------------  transport.html  --------------- */
.blog-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://i.ibb.co/Q90hn4x/header-blog.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    margin-top: -76px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px green;
}

.card-img-top {
    object-fit: cover;
}

.object-fit-cover {
    object-fit: cover;
}

.badge {
    font-size: 0.8rem;
    padding: 1em 1em;
}

/* Popular Posts */
/* .list-group-item-action:hover {
    background-color: var(--light-color);
} */



.btn-outline-primary:hover {
    transform: translateY(-2px);
}

/* ---------------  Newsletter Card  --------------- */

li a{
    color: red;
    text-decoration: none;
    font-weight: 700;
}

a, button {
    transition: color 0.3s ease, background-color 0.3s ease;
}
img {
    max-width: 100%;
    height: auto;
}
